<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand mb-0" href="/urls"><span class="navbar-text text-white h4 mb-1">TinyApp</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link active" href="/urls">Shortened URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create Shortlink</a>
      </div>
    </div>

        <% if (locals.username) { %>
          <span class="navbar-text mr-4 h5 mb-1 text-white"><%= username %></span>
          <a href="/logout"><button type="submit" class="btn btn-dark">Logout</button></a>
        <% } else { %>
          <form class="form-inline" action="/login" method="POST">
            <div class="form-group ">
          <input class="form-control form-control" placeholder="Username" type="text" name="username" style="width: 200px; margin: 0 0.5em">
          <button type="submit" class="btn btn-dark ">Login</button>
        </div>
      </form>
        <% } %>

  </nav>
</header>
